<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="heading">
        <header>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" height="100" width="100" class="centered-logo" style="float:right">
            <h1 class="centered-header">INPRE</h1>
        </header>
    </div>

    <form id="upload-form">
        <div class="upload-bar">

            <h2 class="centered-text">Upload your file here</h2>

        </div>

        <div class="custom-upload">
            <input type="file" id="upload-bar" class="upload-input">
            <label for="upload-bar" id="upload-label" class="upload-label"></label>
        </div>
    </form>

    <a href="dashboard" style="position: fixed; right: 20px; bottom: 20px;">
        <img src="{{ url_for('static', filename='images/goto_dash.png') }}" alt="goto_dashboard" height="30" width="150" class="centered-logo">
    </a>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function(event) {
            console.log('Form submitted');  // Debugging line
            event.preventDefault();
            console.log('Default action prevented');  // Debugging line
            window.location.href = 'loading_page';
            console.log('Redirection initiated');  // Debugging line
        });
    </script>

</body>
</html>