<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url("{{ url_for('static', filename='images/list.png') }}") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>

<script>
    document.body.addEventListener('click', function() {
        window.location.href = 'videos.html';
    });
</script>
<body>
</body>
</html>